<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap" rel="stylesheet">
    <title>Task Planner</title>
</head>
<body>
    <section id="mainContent">
        <h1>The Easy Task Planner!</h1>
        <section id="taskAdd">
    <h2>Add a Task:</h2>
    <form action="/addTask" method="POST">
        <input id="inputText" type="text" placeholder="Task" name="taskName">
        <input id="inputRequired" type="text" placeholder="Due Date" name="dueDate">
        <input id="sendBtn" type="submit" value="Add!">
    </form>
</section>
    <section id="todayTasks">
    <h2>Today's Tasks:</h2>
    <ul class="tasks">
        <% for(let i=0; i < info.length; i++) {%>
            <li class="task">
                <% if(info[i].completed === true) {%>
                    <span id="taskBold" class="done"><%= info[i].taskName %></span><br>
                    <span class="done">Due: </span><span class="done"><%= info[i].dueDate %></span>
                <% }else{ %>
                    <span id="taskBold"><%= info[i].taskName %></span><br>
                    <span>Due: </span><span><%= info[i].dueDate %></span>
                <% } %>
                <span class="upDoot">&nbsp;&nbsp;<i class="fa fa-arrow-circle-up"></i></span>
                <span class="completed">&nbsp;<i class="fa fa-check-circle"></i></span>
                <span class="del">&nbsp;<i class="fa fa-minus-circle"></i></span>
            </li>
        <% } %>
    </ul>
</section>
    </section>
        <script src="main.js"></script>
</body>
</html>